out/
dist/
node_modules/
.idea/
.vscode-test/
.workstation/
tmp/
*.DS_Store
*.vsix
*.log
*.oe
*.on
*.got
*.swp
*.swo
*.tmp
*.temp
*.bak
*.orig
*.rej
*.sublime-*
*.code-workspace

# ignore old-english texts
oe/